@import '~antd/dist/antd.css';
.site-card-wrapper {
  background:#fff;
  padding: 30px;
}
.inside{
    background: #dddddd ;
}

.ant-card-head{
    border-bottom: 1px solid #d1d0d5 !important;
    color: rgb(209, 209, 209);
    background: #203b52;
}

.ant-card{
      font-size: 15px;
}
